[submodule "turbin3-solana-starter"]
	path = turbin3-solana-starter
	url = https://github.com/Jars1987/turbin3-solana-starter
[submodule "turbin3-prereq"]
	path = turbin3-prereq
	url = https://github.com/Jars1987/turbin3-prereq
[submodule "vault-Cohort-Q3"]
	path = anchor-vault
	url = https://github.com/Jars1987/vault-Cohort-Q3
